

- @articles.each do | article |
	%h2= link_to article.title, article
	%p= truncate(article.content, length: 200)
	%p
		Опубликовано: 
		= article.created_at
		Пользователем:
		= article.user_id
		%br
		
	


